*{
    box-sizing: border-box;  color: #ffff;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular',  sans-serif;
}
body{ width: 100%; }

#main, header, footer{
    width:95%;  margin: 10px auto;      
}
header, footer{
    height: 200px;
    background-color:  #9933cc;
    width: 100%;
    padding: 15px;
}
.grid-container{
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}
.grid-container>.col-1{    
    height: 500px;
    background-color: darksalmon;    
}
footer{  height: 100px; }

@media screen and (max-width:1024px){
    .grid-container{
    grid-template-columns: auto auto auto;
    }
    .grid-container>.col4{    
        height: 200px;
        grid-column-end: span 3;
    }  
    
}
@media screen and (max-width:980px){
    .grid-container{
        grid-template-columns: auto auto auto auto;
    }
    .grid-container>.col1, .grid-container>.col2{    
        height: 300px;
        grid-column-end: span 2 ;  
    }
    .grid-container>.col3,.grid-container>.col4{    
        height: 200px;
        grid-column-end: span 4 ;
    }        
}
@media screen and (max-width:768px){ 
    .grid-container>.col-1{    
        height: 100px;
        grid-column-end: span 4 ; 
    } 
}