*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;  color: black; 
    background-color: lightgray; 
    margin: 10px auto;
}
.col-3{ width: 26%;}
.col-8{ width: 68%;}
body{
    background-color: gray;
    border: 1px solid black;
    text-align: center;
    width: 1024px;
    height: 1100px;
}
header, nav, section, article, p, footer, aside{
    border: 1px solid black;
    margin: 10px;
    padding: 6px;
}
.header1{
    background-color: lightslategray;
}
section{
    display: inline-block;
    height: 1000px ;
}
#wrapper{
    background-color: gray;
}
#wrapper>.col{
    height: 870px;
    background-color: lightslategray;
    border: 1px solid black;
    display: inline-block;
}
.col-3{
    float: left;
}
.nav2{
    height: 712px;
}
.header4, p, .foot1{
    padding: 10px;
    margin-top: 28px;
}
#paside>.col{
    display: inline-block;
}
.col-md-2{width: 16.66%;
height: 220px;
width: 290px;
}
.foot2{
    padding: 20px;
}
.foot3{
    padding: 25px;
}


