*{
    width: 100%;
}
@media screen and (min-width:1026px){
    body{
        background-color: darkseagreen;
    }    
}
@media screen and (max-width:1024px){
    body{
        background-color: cadetblue;
    }
}
@media screen and (max-width:480px) {
    body{
        background-color: thistle;
    }
}

