*{
    box-sizing: border-box;
    margin: 5px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: antiquewhite;
}
.col-3{ width: 25%;}
.col-4{ width: 33.33%}
body{
    background-color: darkkhaki;
}
header, footer{
    height: 150px;
    background-color: gray;
}
footer{
    clear: left;
}
#wrapper>.col{
    height: 300px;
    background-color: royalblue;
    border: 1px solid black;
    display: inline-block;

}
@media screen and (max-width:1024px){
    .col-md-4{ width: 33.33%;}
    .col-md-12{width: 100%;}
    body{background-color: darksalmon;}
}
@media screen and (max-width: 980px){
    .col-sm-6{width: 50%;}
    .col-sm-12{width: 100%;}
    body{background-color: darkslategray;}
}